
05. BuenosAires-4Capas-ConValidaciones-ConCapaServicios/BuenosAires/.vs/BuenosAires/v16/.suo
05. BuenosAires-4Capas-ConValidaciones-ConCapaServicios/BuenosAires/.vs/BuenosAires/v16/.suo
05. BuenosAires-4Capas-ConValidaciones-ConCapaServicios/BuenosAires/BuenosAires.BodegaBA/obj/Debug/BuenosAires.BodegaBA.csproj.AssemblyReference.cache
05. BuenosAires-4Capas-ConValidaciones-ConCapaServicios/BuenosAires/BuenosAires.BusinessLayer/bin/Debug/BuenosAires.DataLayer.dll.config
05. BuenosAires-4Capas-ConValidaciones-ConCapaServicios/BuenosAires/BuenosAires.BusinessLayer/obj/Debug/BuenosAires.BusinessLayer.csproj.AssemblyReference.cache
05. BuenosAires-4Capas-ConValidaciones-ConCapaServicios/BuenosAires/BuenosAires.DataLayer/obj/Debug/BuenosAires.DataLayer.csproj.AssemblyReference.cache
05. BuenosAires-4Capas-ConValidaciones-ConCapaServicios/BuenosAires/BuenosAires.Model/obj/Debug/BuenosAires.Model.csproj.AssemblyReference.cache
05. BuenosAires-4Capas-ConValidaciones-ConCapaServicios/BuenosAires/BuenosAires.VentaBA/obj/Debug/DesignTimeResolveAssemblyReferences.cache
