<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Bootstrap E-commerce Templates</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">      
		<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">		
		<link href="themes/css/bootstrappage.css" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="themes/css/flexslider.css" rel="stylesheet"/>
		<link href="themes/css/main.css" rel="stylesheet"/>

		<!-- scripts -->
		<script src="themes/js/jquery-1.7.2.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>				
		<script src="themes/js/superfish.js"></script>	
		<script src="themes/js/jquery.scrolltotop.js"></script>
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="themes/js/respond.min.js"></script>
		<![endif]-->
        <link rel="icon" type="image/png" href="themes/images/logo.png">
	</head>
    <body>		
		<div id="top-bar" class="container">
			
			<div class="row container-fluid">
					<ul class="user-menu">
						<a href="inicio_cliente.html" class="logo pull-left"><img src="themes/images/logo.png" class="site_logo" alt=""></a>			
						<li><a href="inicio_cliente.html">Inicio</a></li>
						<li><a href="sobre_nosotros.html">Nosotros</a></li>
						<li><a href="#">Mis datos</a></li>
						<li><a href="mis_compras.html">Mis compras</a></li>					
						<li><a href="carrito_de_compras.html">Carrito</a></li>
						<li><a href="index.html">Cerrar sesión</a></li>		
					</ul>
			</div>
		</div>
		<div id="wrapper" class="container">				
			<section  class="header_text sub">
			<br>
				<h4><a>Carrito</a></h4>
			</section>
			<section class="main-content">				
				<div class="row">
					<div class="span9">					
						<h4 class="title"><span class="text"><strong>tus</strong> pedidos</span></h4>
						<table class="table table-striped">
							<thead>
								<tr>
                                    <td><input type="checkbox" id=""></td>
                                    <td>Perro</td>
                                    <td>Saco Royan Canin 3kg</td>
                                    <td>$8.000</td>
                                    <td>0%</td>
                                    <td>2%</td>
                                    <td>$7.840</td>
                                    <td>
                                        <button><a>Eliminar</a></button>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox" id=""></td>
                                    <td>Perro</td>
                                    <td>Hueso gris 3kg</td>
                                    <td>$1.260</td>
                                    <td>0%</td>
                                    <td>0%</td>
                                    <td>$1.000</td>
                                    <td>
                                        <button><a>Eliminar</a></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id=""></td>
                                    <td>Gatos</td>
                                    <td>Raton de juguete</td>
                                    <td>$1.000</td>
                                    <td>0%</td>
                                    <td>0%</td>
                                    <td>$1.000</td>
                                    <td>
                                        <button><a>Eliminar</a></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <p class="cart-total right">
                    <div class="span9">
                        <div>TOTAL&nbsp;<span>&nbsp;$10000&nbsp;&nbsp;</span></div>
                    </div>
                    </p>
                </div>
            </section>			
            <section id="footer-bar">
                <div class="row">
                    <div class="span3">
                        <h4>Navegar</h4>
                        <ul class="nav">
                            <li><a href="./index.html">Inicio</a></li>
                            <li><a href="./cart.html">Carrito</a></li>
                            <li><a href="./register.html">Inicio de sesion</a></li>							
                        </ul>					
                    </div>
                    <div class="span4">
                        <h4>Mi cuenta</h4>
                        <ul class="nav">
                            <li><a href="#">Mi cuenta</a></li>
                            <li><a href="sobre_nosotros.html">Historial de pedidos</a></li>
                            <li><a href="#">Lista de deseos</a></li>
                            <li><a href="#">Novedades</a></li>
                        </ul>
                    </div>
                    <div class="span5">
                        <p class="logo"><img src="themes/images/logo.png" class="site_logo" alt=""></p>
                        <p>Shopper es la tienda online más completa para mascotas creada por pet lovers para pet lovers!. Somos la tienda en línea de mascotas con mayor variedad de productos y servicios a domicilio de Latinoamérica (Colombia, Chile y México), contamos con más de 4.000 productos (alimentos, dietas naturales, snacks, medicinas, higiene y accesorios) y próximamente, más de 17 servicios como (medicina veterinaria prepagada, veterinario a domicilio, vacunación, baños, funeraria, entrenador, cuidadores, información de colegios, fundaciones, entre otros.</p>
                        <br/>
                    </div>					
                </div>	
            </section>
            <section id="copyright">
                <span>Copyright 2013 bootstrappage template  All right reserved.</span>
            </section>
        </div>
    </body>
</html>