.left_label {
    width: 150px;
    display: inline-block;
    vertical-align: top;
}

.radio_sexo {
    margin-right: 10px;
}

#rut {
    width: 180px;
}

#nombres, #apellidos, #correo {
    width: 310px;
}

#edad {
    width: 60px;
}

.borde-bootstrap-row {
    border: 0px solid blue;
    margin: 5px
}

.error {
    color: red;
}

.centrar {
    text-align: center;
    margin: 10px;
    border: 0px solid blue;
}