{% extends 'core/base.html' %}
{% load static %}

{% block stylesheet %}
    <link href="{% static 'core/css/forms.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h4>Buenos Aires</h4>
    <br>
    <h2>Aires acondicionados a la venta </h2>
    <br>
    {% if list %}
        <div class="row text-center">
        {% for ve in list %}
        <a href="{% url 'ficha' ve.idprod %}">
                <div class="tienda_auto_recuadro">
                    <div class="tienda_auto_recuadro_interior">
                        <img src="/media/{{ ve.imagen }}" class="tienda_auto_imagen" alt="">
                    </div>
                    <div>
                        {{ ve.nomprod }}
                        <br>
                        {{ ve.precio }}
                    </div>
                </div>
            </a>
        {% endfor %}
        </div>
    {% endif %}
{% endblock content %}