{% extends 'core/base.html' %}
{% load static %}

{% block stylesheet %}
    <link href="{% static 'core/css/forms.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
	<div class="row tituloDetaller">
		<div class="span7">
			<h4><span class="text">Mis compras</span></h4>
		</div>
	</div>
	<div class="tabla">
		<div class="col">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Nro Factura</th>
						<th>Fecha</th>
						<th>Monto Total</th>
						<th>Estado Actual</th>
						<th>Opciones</th>
						<th>Crear Solicitud</th>
					</tr>
				</thead>
				<tbody>
					{% for pro in gi %}
					<tr>
						<td>{{ pro.nrofac.nrofac }}</td>
						<td>{{ pro.nrofac.fechafac }}</td>
						<td>${{ pro.nrofac.monto }}</td>
						<td>{{ pro.estadogd }}</td>
						<td><a href="{% url 'detalle_factura' pro.nrofac.nrofac %}">Ver detalle</a></td>
						<td><a href="{% url 'crear_solicitud' pro.nrofac.nrofac %}">Crear Solicitud</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock content %}