<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicioProducto" />
                <binding name="BasicHttpBinding_IServicioStockProducto" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4795/ServicioProducto.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioProducto"
                contract="ServicioProducto.IServicioProducto" name="BasicHttpBinding_IServicioProducto" />
            <endpoint address="http://localhost:4795/ServicioStockProducto.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioStockProducto"
                contract="ServicioStockProducto.IServicioStockProducto" name="BasicHttpBinding_IServicioStockProducto" />
        </client>
    </system.serviceModel>
</configuration>