<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Shopper</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">      
		<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
		
		<link href="themes/css/bootstrappage.css" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="themes/css/flexslider.css" rel="stylesheet"/>
		<link href="themes/css/main.css" rel="stylesheet"/>

		<!-- scripts -->
		<script src="themes/js/jquery-1.7.2.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>				
		<script src="themes/js/superfish.js"></script>	
		<script src="themes/js/jquery.scrolltotop.js"></script>
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
        <link rel="icon" type="image/png" href="themes/images/logo.png">
	</head>
    <body>		
		<div id="top-bar" class="container">
			
			<div class="row container-fluid">
					<ul class="user-menu">
						<a href="inicio_cliente.html" class="logo pull-left"><img src="themes/images/logo.png" class="site_logo" alt=""></a>			
						<li><a href="inicio_cliente.html">Inicio</a></li>
						<li><a href="sobre_nosotros.html">Nosotros</a></li>
						<li><a href="">Mis datos</a></li>
						<li><a href="mis_compras.html">Mis compras</a></li>					
						<li><a href="carrito_de_compras.html">Carrito</a></li>
						<li><a href="index.html">Cerrar sesión</a></li>		
					</ul>
			</div>
		</div>
		<div class="container">
			<div class="row tituloDetaller">
				<div class="span7">
					<h4><span class="text">Detalle de Factura 425</span></h4>
				</div>
				<div class="span4">
					<img src="themes/images/seguimientos.png" alt="">
				</div>
			</div>
			<div class="tabla">
				<div class="col">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>ID</th>
								<th>Categoria</th>
								<th>Nombre Producto</th>
								<th>Precio</th>
								<th>% Desc Suscriptor</th>
								<th>% Desc Oferta</th>
								<th>Precio Final</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>425</th>
								<th>Perros</th>
								<th>Saco Royal Canin 3kg</th>
								<th>$ 8.000</th>
								<th>0%</th>
								<th>2%</th>
								<th>$7.840</th>
							</tr>
							<tr>
								<th>425</th>
								<th>Perros</th>
								<th>Hueso Gris 3kg</th>
								<th>$ 1.260</th>
								<th>0%</th>
								<th>0%</th>
								<th>$1.260</th>
							</tr>
							<tr>
								<th>425</th>
								<th>Perros</th>
								<th>Pelota de Juguete</th>
								<th>$ 1.000</th>
								<th>0%</th>
								<th>0%</th>
								<th>$1.000</th>
							</tr>
							<tr>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th>Total</th>
								<th>$10.000</th>	
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div id="wrapper" class="container">
			<section class="our_client">
				<h4 class="title"><span class="text">Manufactures</span></h4>
				<div class="row">					
					<div class="span2">
						<a href="#"><img alt="" src="themes/images/clients/14.png"></a>
					</div>
					<div class="span2">
						<a href="#"><img alt="" src="themes/images/clients/1.png"></a>
					</div>
					<div class="span2">
						<a href="#"><img alt="" src="themes/images/clients/2.png"></a>
					</div>
					<div class="span2">
						<a href="#"><img alt="" src="themes/images/clients/3.png"></a>
					</div>
					<div class="span2">
						<a href="#"><img alt="" src="themes/images/clients/4.png"></a>
					</div>
				</div>
			</section>
			<section id="footer-bar">
				<div class="row">
					<div class="span3 abajo">
						<h4>Navegar</h4>
						<ul class="nav">
							<li><a href="./index.html">Inicio</a></li>  
							<li><a href="./about.html">Sobre nosotros</a></li>
							<li><a href="./contact.html">Contactanos</a></li>
							<li><a href="./cart.html">Carrito</a></li>
							<li><a href="./register.html">Inicio de sesion</a></li>							
						</ul>					
					</div>						
				</div>	
			</section>
		</div>
		<script src="themes/js/common.js"></script>
		<script src="themes/js/jquery.flexslider-min.js"></script>
		<script type="text/javascript">
			$(function() {
				$(document).ready(function() {
					$('.flexslider').flexslider({
						animation: "fade",
						slideshowSpeed: 4000,
						animationSpeed: 600,
						controlNav: false,
						directionNav: true,
						controlsContainer: ".flex-container" // the container that holds the flexslider
					});
				});
			});
		</script>
    </body>
</html>