<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Bootstrap E-commerce Templates</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">      
		<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">		
		<link href="themes/css/bootstrappage.css" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="themes/css/flexslider.css" rel="stylesheet"/>
		<link href="themes/css/main.css" rel="stylesheet"/>

		<!-- scripts -->
		<script src="themes/js/jquery-1.7.2.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>				
		<script src="themes/js/superfish.js"></script>	
		<script src="themes/js/jquery.scrolltotop.js"></script>
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="themes/js/respond.min.js"></script>
		<![endif]-->
		<link rel="icon" type="image/png" href="themes/images/logo.png">
	</head>
    <body>		
		<div id="top-bar" class="container">
			<div class="row container-fluid">
					<ul class="user-menu">
						<a href="index.html" class="logo pull-left"><img src="themes/images/logo.png" class="site_logo" alt=""></a>			
						<li><a href="index.html">Inicio</a></li>
						<li><a href="administrar_tienda.html">Administrar Tienda</a></li>
						<li><a href="sobre_nosotros.html">Nosotros</a></li>
						<li><a href="index.html">Cerrar Sesión</a></li>		
					</ul>
			</div>
		</div>
		<div id="wrapper" class="container">
							
			<section class="main-content">
			    <br>
				<h3><span>Mantenedor de usuario</span></h3>
                <div class="span5">
					<table>
						<tr>
							<td><strong>ID:</strong></td>
							<td><input type="text"  Placeholder=""></td>
						</tr>
						<tr>
							<td><strong>Tipo de usuario:</strong></td>
							<td>
								<input class="checkbox" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
								<label class="form-check-label" for="inlineRadio1">Cliente</label>
							</td>
							<td>	
								<input class="checkbox" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">	
								<label class="form-check-label" for="inlineRadio2">Admin</label>
							</td>
							
						</tr>
						<tr>
							<td><strong>Rut:</strong></td>
							<td><input type="text"  Placeholder=""></td>
						</tr>
						<tr>
							<td><strong>Nombre:</strong></td>
							<td><input type="text"  Placeholder=""></td>
						</tr>
						<tr>
							<td><strong>Direccion:</strong></td>
							<td><input type="text"  Placeholder=""></td>
						</tr>
						<tr>
							<td><strong>Con subcripción</strong></td>
							<td>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled" disabled>
									<label class="form-check-label" for="flexCheckDisabled">
									  Deseo subscrbirme con un aparte de $3000 mensuales y obtener un %5 de descuento en mis compras
									</label>
								  </div>
							</td>
						</tr>
						<tr>
							<td><strong>Contraseña</strong></td>
							<td><input type="password"  Placeholder=""></td>
						</tr>
					</table>
				</div>
				<div class="span2 col">
					<div class="block">	
						<input class="form-control-file" type="file" name="buscarfoto" id="buscarfoto">	
 					</div>
				</div>
				
			</section>
			<section class="main-content">				
				<div class="row">
					<div class="span9">	
						<div class="col1">
							<button class="btn" id="btn1" onclick="alert('Producto agregado');">
								Guardar
							</button>
							<button class="btn" id="btn2" onclick="alert('Producto creado');">
								Nuevo
							</button>
							<button class="btn" id="btn3" >
								Eliminar
							</button>
						</div>			
						<table class="table table-bordered" style="border-collapse: 1px;">
							<thead>
								<tr>
									<th>ID</th>
									<th>Tipo usuario</th>
									<th>Rut</th>
									<th>Nombres</th>
									<th>Apellidos</th>
									<th>Direccion</th>
									<th>Con subscripción</th>
									<th>Imagen</th>
								</tr>
							</thead>
							<tbody id="red">
									  
							</tbody>
						</table>
						<hr>
						<hr/>					
					</div>
				</div>
			</section>			
		</div>
		<script src="themes/js/common.js"></script>
		<script src="ajax1.js"></script>
		<script>
			$(document).ready(function() {
				$('#checkout').click(function (e) {
					document.location.href = "checkout.html";
				})
			});
		</script>		
    </body>
</html>