{% extends 'core/base.html' %}
{% load static %}

{% block stylesheet %}
    <link href="{% static 'core/css/forms.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Shopper</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">      
		<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
		
		<link href="themes/css/bootstrappage.css" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="themes/css/flexslider.css" rel="stylesheet"/>
		<link href="themes/css/main.css" rel="stylesheet"/>

		<!-- scripts -->
		<script src="themes/js/jquery-1.7.2.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>				
		<script src="themes/js/superfish.js"></script>	
		<script src="themes/js/jquery.scrolltotop.js"></script>
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
        <link rel="icon" type="image/png" href="themes/images/logo.png">
	</head>
    <body>		
		
		<div class="container">
			<div class="row tituloDetaller">
				<div class="span7">
					<h4><span class="text">Mis compras</span></h4>
				</div>
			</div>
			<div class="tabla">
				<div class="col">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Nro Factura</th>
								<th>Fecha</th>
								<th>Monto Total</th>
								<th>Estado Actual</th>
								<th>Opciones</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>425</th>
								<th>1/1/2022</th>
								<th>$15.000</th>
								<th>Entregado</th>
								<th><a href="detalle_factura.html">Ver detalle</a></th>
							</tr>
							<tr>
								<th>535</th>
								<th>5/2/2022</th>
								<th>$10.000</th>
								<th>Despachado</th>
								<th><a href="detalle_factura.html">Ver detalle</a></th>
							</tr>
							<tr>
								<th>675</th>
								<th>7/3/2022</th>
								<th>$12.000</th>
								<th>En bodega</th>
								<th><a href="detalle_factura.html">Ver detalle</a></th>
							</tr>
							<tr>
								<th>734</th>
								<th>2/4/2022</th>
								<th>$7.000</th>
								<th>Entregado</th>
								<th><a href="detalle_factura.html">Ver detalle</a></th>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div id="wrapper" class="container">
			<section class="our_client">
				<h4 class="title"><span class="text">Manufactures</span></h4>
				<div class="row">					
					<div class="span2">
						<a href="#"><img alt="" src="themes/images/clients/14.png"></a>
					</div>
					<div class="span2">
						<a href="#"><img alt="" src="themes/images/clients/1.png"></a>
					</div>
					<div class="span2">
						<a href="#"><img alt="" src="themes/images/clients/2.png"></a>
					</div>
					<div class="span2">
						<a href="#"><img alt="" src="themes/images/clients/3.png"></a>
					</div>
					<div class="span2">
						<a href="#"><img alt="" src="themes/images/clients/4.png"></a>
					</div>
				</div>
			</section>
			<section id="footer-bar">
				<div class="row">
					<div class="span3 abajo">
						<h4>Navegar</h4>
						<ul class="nav">
							<li><a href="./index.html">Inicio</a></li>  
							<li><a href="./about.html">Sobre nosotros</a></li>
							<li><a href="./contact.html">Contactanos</a></li>
							<li><a href="./cart.html">Carrito</a></li>
							<li><a href="./register.html">Inicio de sesion</a></li>							
						</ul>					
					</div>						
				</div>	
			</section>
		</div>
		<script src="themes/js/common.js"></script>
		<script src="themes/js/jquery.flexslider-min.js"></script>
		<script type="text/javascript">
			$(function() {
				$(document).ready(function() {
					$('.flexslider').flexslider({
						animation: "fade",
						slideshowSpeed: 4000,
						animationSpeed: 600,
						controlNav: false,
						directionNav: true,
						controlsContainer: ".flex-container" // the container that holds the flexslider
					});
				});
			});
		</script>
    </body>
</html>
{% endblock content %}