<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Bootstrap E-commerce Templates</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		
		<!-- bootstrap -->
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">      
		<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">		
		<link href="themes/css/bootstrappage.css" rel="stylesheet"/>
		<link href="themes/css/adicion.css" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="themes/css/main.css" rel="stylesheet"/>
		<link href="themes/css/jquery.fancybox.css" rel="stylesheet"/>
				
		<!-- scripts -->
		<script src="themes/js/jquery-1.7.2.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>				
		<script src="themes/js/superfish.js"></script>	
		<script src="themes/js/jquery.scrolltotop.js"></script>
		<script src="themes/js/jquery.fancybox.js"></script>
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
		<link rel="icon" type="image/png" href="themes/images/logo.png">
	</head>
    <body>		
		<div id="top-bar" class="container">
			<div class="row container-fluid">
					<ul class="user-menu">
						<a href="index.html" class="logo pull-left"><img src="themes/images/logo.png" class="site_logo" alt=""></a>			
						<li><a href="index.html">Inicio</a></li>
						<li><a href="administrar_tienda.html">Administrar Tienda</a></li>
						<li><a href="sobre_nosotros.html">Nosotros</a></li>
						<li><a href="index.html">Cerrar Sesión</a></li>			
					</ul>
			</div>
		</div>
		<div id="wrapper" class="container">
			<div style="text-align: center;" class="span9">
                <h1>
                    <a>Registro de ventas</a>
                </h1>
            </div>
			<br>
			<div>
				<section class="main-content">				
					<div class="row">
						<div class="span9">
							<br>
							<br>
							<table style="width: 80%; border: 1px solid black; border-collapse: collapse; margin-right: auto; margin-left: auto;">
								<thead style="background-color: gray;">
									<tr>
										<td>Nro Factura</td>
										<td>Fecha</td>
										<td>Nombre Cliente</td>
										<td>Suscrito</td>
										<td>Monto total</td>
										<td>Estado Actual</td>
										<td>Detalle</td>
										<td>Cambiar estado</td>
										<td></td>
									</tr>
								</thead>
								<tbody>
									<tr style="background-color: rgb(168, 164, 164);">
										<td>425</td>
										<td>5/10/2022</td>
										<td>Juan Perez</td>
										<td><input type="checkbox" id=""></td>
										<td>$200000</td>
										<td>Entregado</td>
										<td><button style="width:min-content;"><a href="detalle_factura.html">detalle</a></button></td>
										<td><button style="width:min-content;"><a>despachado</a></button><td><button style="width:min-content;"><a>entregado</a></button></td></td>
									</tr>
									<tr style="background-color: rgb(168, 164, 164);">
										<td>425</td>
										<td>5/10/2022</td>
										<td>Juan Perez</td>
										<td><input type="checkbox" id=""></td>
										<td>$200000</td>
										<td>Entregado</td>
										<td><button style="width:min-content;"><a href="detalle_factura.html">detalle</a></button></td>
										<td><button style="width:min-content;"><a>despachado</a></button><td><button style="width:min-content;"><a>entregado</a></button></td></td>
									</tr>
									<tr style="background-color: rgb(168, 164, 164);">
										<td>425</td>
										<td>5/10/2022</td>
										<td>Juan Perez</td>
										<td><input type="checkbox" id=""></td>
										<td>$200000</td>
										<td>Entregado</td>
										<td><button style="width:min-content;"><a href="detalle_factura.html">detalle</a></button></td>
										<td><button style="width:min-content;"><a>despachado</a></button><td><button style="width:min-content;"><a>entregado</a></button></td></td>
									</tr>
								</tbody>
							</table>
						</div>
						<br>
					</div>
				</section>
			</div>			
			<section id="footer-bar">
				<div class="row">
					<div class="span3 abajo">
						<h4>Navegar</h4>
						<ul class="nav">
							<li><a href="index.html">Inicio</a></li>  
							<li><a href="sobre_nosotros.html">Sobre nosotros</a></li>
							<li><a href="registro.html">Registrate</a></li>
							<li><a href="login.html">Inicio de sesion</a></li>							
						</ul>					
					</div>						
				</div>	
			</section>
		</div>
		<script src="themes/js/common.js"></script>
		<script>
			$(function () {
				$('#myTab a:first').tab('show');
				$('#myTab a').click(function (e) {
					e.preventDefault();
					$(this).tab('show');
				})
			})
			$(document).ready(function() {
				$('.thumbnail').fancybox({
					openEffect  : 'none',
					closeEffect : 'none'
				});
				
				$('#myCarousel-2').carousel({
                    interval: 2500
                });								
			});
		</script>
    </body>
</html>